[submodule "third_party/glfw/glfw"]
	path = third_party/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/opencv/opencv"]
	path = third_party/opencv/opencv
	url = https://github.com/opencv/opencv.git
